

body {
    background: linear-gradient(35deg, #f7f7c1, #cccccc);
    font-family: 'Domine', serif;
}

#main {
    margin: auto;
    width: 85%;
}
#title, #img-caption {
    text-align: center;
}

#img-caption {
    margin: 15px;
    font-size: 16px;
    font-weight: bold;
}

#tribute-info {
    margin: 5px auto;
    width: 85%;
    font-size: 16px;
}

#timeline-caption{    
    font-size: 19px;
    font-weight: bold;
}

img {
    margin: auto;
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    list-style: none;
    padding: 5px 0;    
}

li {
    margin: 15px auto;
}

.tribute-link-container {
  font-style: italic;
  font-size: 14px;
}
